<h1>Discover all the food offers</h1>

<div class="row">
  <div class="col-12 border">
    <% @food_offers.each do |offer| %>

    <p>Product name: <%=  offer.product_name %></p>
    <p>Product category: <%=  offer.category %></p>
    <p>Quantity: <%=  offer.unit %></p>
    <p>Provider: <%= offer.user.company_name %></p>
    <% end %>
  </div>
</div>
