<p>Product name: <%=  @food_offer.product_name %></p>
<p>Product category: <%=  @food_offer.category %></p>
<p>Quantity: <%=  @food_offer.unit %></p>
<p>Provider: <%= @food_offer.user.company_name %></p>
