// Specific CSS for your home-page

.info-bar {
  justify-content: space-between;
  background: #CFEABA;
  color: black;
}

.info-bar-txt {
  font-size: 35px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.container {
  margin: 0%;
}

.home-slogan {
  font-size: 50px;
}
