// Specific CSS for your home-page

// container and page outline code

.page-wrapper {
  background-color: white;
}
.container {
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin: 0%;
}

body {
  background-color: white;
}

// code for scrolldown images and text ----------


.info-bar {
  justify-content: space-between;
  color: black;
}

.info-bar-txt {
  font-size: 35px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 0px;
}

.justify-content-md-center {
  background-color: #abcea9;
}

// ---------------------

#landing-title {
  font-size: 60px;
}

#landing-text {
  font-size: 25px;
}

// ---------------------

// sign up buttons

.info-text-bottom {
  font-size: 60px;
  text-align: center;
}

.registration summary {
  text-align: 40px;
}

.btn-lg {
  background-color: #abcea9 !important;
  border-color: #abcea9 !important;
}
.btn-lg:hover {
  background-color:  #579254 !important;
}

.btn-lg {
  width: 250px;
  height: 70px;
  font-size: 25px !important;
  padding: 1.3rem 1rem;
  font-size: 1.25rem;
  line-height: 5;
  border-radius: 10px;
}

// intro text and slogan

.home-slogan {
  font-size: 50px;
  margin-top: 100px;
}


// ---- unknown code

.margin-vertical {
  margin-top: 100px;
}

.sign-up-form {
  flex-wrap: wrap;
}

// list items

ul {
  list-style-type: none;
 }

li {
    font-size: 27px;
    margin-bottom: 15px;
}

.act-title {
  font-size: 32px;
}
