// Specific CSS for your home-page

.page-wrapper {
   background-color: white;
}
.container {
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
}
#info-bar {
  align-items: center;
  background: white;
  color: #0c3131;
}

#info-bar-txt {
  font-size: 30px;
  text-align: center;
  color: black;
  padding-bottom: 10px;
}


#landing-title {
  font-size: 60px;
}

#landing-text {
  font-size: 25px;


.info-bar {
  justify-content: space-between;
  background: #CFEABA;
  color: black;
}

.info-bar-txt {
  font-size: 35px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.container {
  margin: 0%;
}

.home-slogan {
  font-size: 50px;
  margin-top: 100px;
}

.info-text-bottom {
  font-size: 60px;
  text-align: center;
}

.margin-vertical {
  margin-top: 100px;
}

.sign-up-form {
  flex-wrap: wrap;
}

.registration summary {
  text-align: 40px;
}
