  <div class="container justify-content-center">
    <div class="card m-4" style="max-width: 720px;">
      <div class="row">
        <h4>Select the dates you want to pick up the donation</h4>
        <%= simple_form_for(@order) do |f| %>
          <%= f.input :start_order_date, label: "Start Date", as: :date, input_html: {class: "datepicker"} %>
          <%= f.input :end_order_date, label: "End Date", as: :date, input_html: {class: "datepicker"} %>
          <%= f.submit "Edit", class: "btn btn-outline-success" %>
        <% end %>
      </div>
    </div>
  </div>
