<h1>About Us</h1>


<div class="row justify-content-center">
  <div class="col-7"> <!-- width for the text container -->

    <div class="container pb-5">
      <h2 class="text-center">Who are we?</h2>
      <div class="container">
        <p>In our service territory, two in five people
        are food insecure – meaning they may not know where
        their next meal will come from. Ex-Animo seeks to
        bridge the meal gap, connecting individuals with
        the nutritious meals they need to succeed.</p>
      </div>

    </div>


    <div class="container pt-5">
      <h2 class="text-center">Our Mission</h2>
      <div class="container">
        <div class="row">
          <div class="col-6">
            <p>Our mission is to ensure that everyone in our
            communities has the nutritious food they need
            every day.</p>
          </div>
          <div class="col-6">
            <img style="width:150;" src=”https://source.unsplash.com/random” height="150">
          </div>
        </div>
      </div>
    </div>

    <div class="container pt-5">
      <h2 class="text-center">Our Mission</h2>
      <div class="container">
        <div class="row">
          <div class="col-6">
            <p>Our mission is to ensure that everyone in our
            communities has the nutritious food they need
            every day.</p>
          </div>
          <div class="col-6">
            <img style="width:150;" src=”https://source.unsplash.com/random” height="150">
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
