
<%# <figure id="figure">
</figure> %>

<div class="container">
  <h1>EX-ANIMO</h1>
  <div class="row mb-5">

    <div class="col">
      <div class="logo-img"> <!--- logo --->
        <%= image_tag "https://source.unsplash.com/random", alt: "Logo", width: 150, height: 150%>
      </div>

      <div class="basket-img"> <!--- basket image --->
        <%= image_tag "https://source.unsplash.com/random", alt: "Logo", width: 150, height: 150%>
      </div>

    </div>

    <div class="col"> <!--- navbar links --->

      <div class="home-slogan"> <!--- left side text intro --->
        <h2>Fight hunger fight food waste<h2>
      </div>

      <div class="home-intro">
        <p>We connect food producers
        <br>with homeless shelters
        <br>to provide food to people in need
        <br>in order to prevent waste.<p>
      </div>

    </div>
  </div>

  <div class="info-scrolldown"> <!--- info scrolldown bar --->

    <div class="info-bar"> <!--- info text --->

      <div class="row justify-content-md-center align-items-center">
        <p class="info-bar-txt">Brazil is in the grim list of top 10 countries that waste the most food</p>
      </div>

    </div>

    <div class="info-img"> <!--- info img --->
      <img style="width:100%;" src=”https://source.unsplash.com/random” height="150">
    </div>

    <div class="info-bar"> <!--- info text --->

      <div class="row justify-content-md-center align-items-center">
        <p class="info-bar-txt">Food waste generates a resounding loss of 940 billion dollars per year, affecting not only the less priviliged but also Brazil’s economy</p>
      </div>

    </div>

    <div class="info-img"> <!--- info img --->
      <img style="width:100%;" src=”https://source.unsplash.com/random” height="150">
    </div>

    <div class="info-bar"> <!--- info text --->

      <div class="row justify-content-md-center align-items-center">
        <p class="info-bar-txt">So why not donate the excess food to those in need?</p>
      </div>

    </div>

    <div class="info-img"> <!--- info img --->
      <img style="width:100%;" src=”https://source.unsplash.com/random” height="150">
    </div>
  </div>


  <div class="row"> <!--- sign up section --->
    <div class=container>
      <h3 class="info-bar-txt">Sign up and start helping your local community</h3>
    </div>

    <div class=container>

    </div>

    <div class=container>

    </div>


  </div>


</div>

<p>test</p>
