<%# <figure id="figure">
</figure> %>

<div class="container mr-0 px-0">
  <div class="row mb-5">

    <div class="col">
      <div class="container"> <!--- logo --->
        <img src=”https://source.unsplash.com/random” width="150" height="150">
      </div>

      <div class="container"> <!--- basket image --->
        <img src=”https://source.unsplash.com/random” width="150" height="150">
      </div>

    </div>

    <div class="col"> <!--- navbar links --->

      <div class="d-flex">
        <div class="col p-0"><%= link_to "For Providers", "/for_providers", class: "nav-link" %></div>
        <div class="col p-0"><%= link_to "For Shelters", "/for_shelters", class: "nav-link" %></div>
        <div class="col p-0"><%= link_to "About Us", "/about_us", class: "nav-link" %></div>
        <div class="col p-0"><%= link_to "Contact Us", "/contact_us", class: "nav-link" %></div>
      </div>

      <div class="container"> <!--- left side text intro --->
        <h2>Fight hunger fight food waste<h2>
      </div>

      <div class="container">
        <p>We connect food producers
        <br>with homeless shelters
        <br>to provide food to people in need
        <br>in order to prevent waste.<p>
      </div>

    </div>
  </div>

  <div class="conatainer"> <!--- info scrolldown bar --->

    <div class="container py-3" id="info-bar"> <!--- info text --->

      <div class="row justify-content-md-center align-items-center">
        <p class="mb-0 px-5" id="info-bar-txt">Brazil is in the grim list of top 10 countries that waste the most food</p>
      </div>

    </div>

    <div class="container py-3 px-0" id="info-img"> <!--- info img --->
      <img style="width:100%;" src=”https://source.unsplash.com/random” height="150">
    </div>

    <div class="container py-3" id="info-bar"> <!--- info text --->

      <div class="row justify-content-md-center align-items-center">
        <p class="mb-0 px-5" id="info-bar-txt">Food waste generates a resounding loss of 940 billion dollars per year, affecting not only the less priviliged but also Brazil’s economy</p>
      </div>

    </div>

    <div class="container py-3 px-0" id="info-img"> <!--- info img --->
      <img style="width:100%;" src=”https://source.unsplash.com/random” height="150">
    </div>

    <div class="container py-3" id="info-bar"> <!--- info text --->

      <div class="row justify-content-md-center align-items-center">
        <p class="mb-0 px-5" id="info-bar-txt">So why not donate the excess food to those in need?</p>
      </div>

    </div>

    <div class="container py-3 px-0" id="info-img"> <!--- info img --->
      <img style="width:100%;" src=”https://source.unsplash.com/random” height="150">
    </div>
  </div>


  <div class="row"> <!--- sign up section --->
    <div class=container>
      <h3 class="mb-0 px-5" id="info-bar-txt">Sign up and start helping your local community</h3>
    </div>

    <div class=container>

    </div>

    <div class=container>

    </div>


  </div>


</div>

<p>test</p>
