<div class="container">

  <div class="row">

    <div class="col ml-5">
      <div class="logo-img my-5 ml-5"> <!--- logo --->
        <%= cl_image_tag "https://res.cloudinary.com/dnczymjwi/image/upload/v1637771780/ex-animo/img-home-page2.png",:height=>300, :width=>470%>
      </div>
    </div>

    <div class="col mr-5">

      <div class="home-slogan-box"> <!--- left side text intro --->
        <h2 class="home-slogan">Fight hunger
        <br>fight food waste<h2>
      </div>

      <div class="home-intro">
        <p>We connect <b>food producers</b>
        <br>with <b>homeless shelters</b>
        <br>to provide <b>food</b> to people in <b>need</b>
        <br>in order to <b>prevent waste.</b><p>
      </div>

    </div>
  </div>


  <div class="row mb-5">
    <div class="col-6 mt-3">
      <p class="registration summary">Own a business that <br>produces excess food?</p>
      <div class="d-flex justify-content-center">
        <button type="button" class="btn-lg btn-success">Provider sign up</button>
      </div>
    </div>

    <div class="col-6 mt-3">

      <p>Manage a shelter with<br> unfullfiled food needs?</p>
      <div class="d-flex justify-content-center">
        <button type="button" class="btn-lg btn-success">Shelter sign up</button>
      </div>
    </div>
  </div>

  <div class="info-scrolldown"> <!--- info scrolldown bar --->

    <div class="info-bar"> <!--- info text --->

      <div class="justify-content-md-center align-items-center">
        <p class="info-bar-txt">Brazil is in the grim list of top 10 countries that waste the most food</p>
      </div>

    </div>

    <div class="info-img" style="text-align: center;"> <!--- info img --->
      <%= cl_image_tag "https://res.cloudinary.com/dnczymjwi/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1637771779/ex-animo/img2-home-page_xubldb.png",:height=>409, :width=>727 %>
    </div>

    <div class="info-bar"> <!--- info text ---->

      <div class="justify-content-md-center align-items-center">
        <p class="info-bar-txt">Food waste generates a resounding loss of 940 billion dollars per year, affecting not only the less priviliged but also Brazil’s economy</p>
      </div>

    </div>

    <div class="info-img" style="text-align: center;"> <!--- info img --->
      <%= cl_image_tag "https://res.cloudinary.com/dnczymjwi/image/upload/v1637771780/ex-animo/Screen_Shot_2021-11-11_at_4.33.37_PM_asmxb7.png",:height=>300, :width=>900%>
    </div>

    <div class="info-bar"> <!--- info text --->

      <div class="justify-content-md-center align-items-center">
        <p class="info-bar-txt">So why not donate the excess food to those in need?</p>
      </div>

    </div>

    <div class="info-img my-5" style="text-align: center;"> <!--- info img --->
      <%= cl_image_tag "https://res.cloudinary.com/dnczymjwi/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1637771779/ex-animo/img3-home-page_p0bwc4.png",:height=>300, :width=>530%>
    </div>
  </div>


  <div class="sign-up my-5"> <!--- sign up section --->
    <div class=sign-up-bar>
      <h3 class="info-text-bottom">Sign up and start helping your
      <br>local community</h3>
    </div>


  </div>


</div>
