<%# <figure id="figure">
</figure> %>

<div class="container mr-0 px-0">
  <div class="row mb-5">

    <div class="col">
      <div class="container"> <!--- logo --->
        <img src=”https://source.unsplash.com/random” width="150" height="150">
      </div>

      <div class="container"> <!--- basket image --->
        <img src=”https://source.unsplash.com/random” width="150" height="150">
      </div>

    </div>

    <div class="col">

      <div class="d-flex">
        <div class="col p-0"><%= link_to "For Providers", "/for_providers", class: "nav-link" %></div>
        <div class="col p-0"><%= link_to "For Shelters", "/for_shelters", class: "nav-link" %></div>
        <div class="col p-0"><%= link_to "About Us", "/about_us", class: "nav-link" %></div>
        <div class="col p-0"><%= link_to "Contact Us", "/contact_us", class: "nav-link" %></div>
      </div>

      <div class="container">
        <h2>Fight hunger fight food waste<h2>
      </div>

      <div class="container">
        <p>We connect food producers
        <br>with homeless shelters
        <br>to provide food to people in need
        <br>in order to prevent waste.<p>
      </div>

    </div>
  </div>

  <div class="container py-3" id="info-bar">

    <div class="row justify-content-md-center align-items-center">
      <p class="mb-0" id="info-bar-txt">Brazil is in the grim list of top 10 countries that waste the most food</p>
    </div>

  </div>




</div>

<p>test</p>
