<h2>Become a Provider</h2>
<div class="card-deck pb-5">
  <div class="card pl-3">
    🍱
    <div class="card-body">
      <h5 class="card-title">Supply</h5>
    </div>
  </div>
  <div class="card pl-3">
    🚫
    <div class="card-body">
      <h5 class="card-title">Reduce Waste</h5>
    </div>
  </div>
  <div class="card pl-3">
    🏆
    <div class="card-body">
      <h5 class="card-title">Be a Champion to your Community</h5>
    </div>
  </div>
</div>

<h2>Purpose</h2>
<p>Donating food helps serve two purposes for bettering communities, though one is less obvious than the other.
Aside from the immediate benefits to the members of our communities, the planet benefits greatly as well.
The less unspoiled food that gets thrown away, the less unspoiled food that is sent to a landfill where it ultimately goes to waste.</p>
<p>Help community members thrive - When people are able to eat, they’re healthy enough to play their part as active and engaged members of their communities.
This not only supports local communities and economies, but society on a larger scale. Make a difference by joining us today!</p>

<h2>Any help is welcome and appreciated!</h2>

<div class="sign-up my-5"> <!--- sign up link --->
    <div class=sign-up-bar>
      <h3 class="info-text-bottom">Sign up as a Provider today - it takes less than a minute to start making a difference</h3>
    </div>
  </div>
</div>

<!-- FOOTER begining-->

  <div class="d-flex flex-column h-100">

    <footer class="w-100 py-4 flex-shrink-0">
      <div class="footer-box py-4 pl-5">
        <div class="row gy-4 gx-5">

          <div class="col-3">
              <h5 class="text-black mb-3">Terms and conditions</h5>
              <ul class="list-unstyled text-muted">
                  <li><a href="#">Providers T&C</a></li>
                  <li><a href="#">Providers T&C</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Data Policy</a></li>
              </ul>
          </div>

          <div class="col-2" id="social_icons">
            <h5 class="text-black mb-3" id="follow-us">Follow Us</h5>
            <a class="black-text text-lighten-3" style="padding-left:12px;" href="#!"><i class="fab fa-whatsapp fa-2x"></i></a>
            <a class="black-text text-lighten-3" style="padding-left:12px;" href="#!"><i class="fab fa-twitter fa-2x"></i></a>
            <a class="black-text text-lighten-3" style="padding-left:12px;" href="#!"><i class="fab fa-facebook-f fa-2x"></i></a>
            <a class="black-text text-lighten-3" style="padding-left:12px;" href="#!"><i class="fab fa-instagram fa-2x"></i></a>
          </div>

          <div class="col-4">
              <h5 class="h1 text-black text-center">Ex Animo Inc.</h5>
              <p class="small text-muted">Non-governmental organization devoted to helping those in need</p>
              <p class="small text-muted mb-0">&copy; Copyrights. All rights reserved. <a class="text-primary" href="#">©Ex-Animo</a></p>
          </div>

          <div class="col-3">
              <h5 class="text-black mb-3">Newsletter</h5>
              <p class="small text-muted">Learn more about our charity initiatives, and receive constant updates from us.</p>
              <form action="#">
                  <div class="input-group mb-3">
                      <input class="form-control" type="text" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
                      <button class="btn btn-primary" id="button-addon2" type="button"><i class="fas fa-paper-plane"></i></button>
                  </div>
              </form>
          </div>

        </div>

      </div>
    </footer>
  </div>

<!-- FOOTER begining-->








</div>

<!-- page container end -->
