<h1>Become a Provider</h1>
<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Supply</h5>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Reduce Waste</h5>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Be a Champion to your Community</h5>
    </div>
  </div>
</div>
<h2>Purpose</h2>
<p>Donating food helps serve two purposes for bettering communities, though one is less obvious than the other.  Aside from the immediate benefits to the members of our communities, the planet benefits greatly as well.  The less unspoiled food that gets thrown away, the less unspoiled food that is sent to a landfill where it ultimately goes to waste.</p>
<p>Help community members thrive - When people are able to eat, they’re healthy enough to play their part as active and engaged members of their communities.  This not only supports local communities and economies, but society on a larger scale. Make a difference by joining us today!</p>
<img class="card-img-top" src="..." alt="Card image cap">
<h2>Sign Up</h2>
<footer class="page-footer pt-3">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="black-text"><em><b>More Information</b></em></h5>
                <ul>
                  <li><a class="black-text text-lighten-3" href="#!">Additional Support</a></li>
                  <li><a class="black-text text-lighten-3" href="#!">Real Stories</a></li>
                  <li><a class="black-text text-lighten-3" href="#!">Charity Retail</a></li>
                  <li><a class="black-text text-lighten-3" href="#!">FAQ</a></li>
                </ul>
              </div>
              <div class="col l4 offset-l2 s12" id="social_icons">
                <h5 class="black-text"><em><b>Follow Us</b></em></h5>
                  <a class="black-text text-lighten-3" style="padding-left:18px;" href="#!"><i class="fab fa-whatsapp fa-2x"></i></a>
                  <a class="black-text text-lighten-3" style="padding-left:12px;" href="#!"><i class="fab fa-twitter fa-2x"></i></a>
                  <a class="black-text text-lighten-3" style="padding-left:12px;" href="#!"><i class="fab fa-facebook-f fa-2x"></i></a>
                  <a class="black-text text-lighten-3" style="padding-left:12px;" href="#!"><i class="fab fa-instagram fa-2x"></i></a>
              </div>
              <div class="col l6 s12">
                <h5 class="black-text"><em><b>Address Us</b></em></h5>
                <p>Av.Atlantica 45, RJ PO BOX 52 North Ryde NSW 1670</p>
                <p>+55219999999</p>
                <p>
admin@exanimo.com
</p>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            <b>2021 ©Ex-Animo. All Rights Reserved.</b>
            <a class="grey-text text-lighten-4 right" href="#!"><b> Terms and Conditions <b><i class="fas fa-star"></i></a>
            </div>
          </div>
        </footer>
