<div class="container">

  <div class="provider-title py-5 mt-3">
    <h3 class="text-center">Manage a shelter with unfullfiled food needs? <br>Join us now!</h3>
  </div>

  <div class="d-flex justify-content-center">
    <div>
      <%= link_to 'Shelter sign up', new_user_registration_path(@user), class: 'btn-success btn-lg' %>
    </div>
  </div>

  <div class="row justify-content-center"> <!-- Intro cards -->

    <div class="col-3">
      <div class="card">
        <h2>🍽</h2>
        <div class="card-body">
          <h5 class="text-center">Provide</h5>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="card">
        <h2>♻</h2>
        <div class="card-body">
          <h5 class="text-center">Protect</h5>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="card">
        <h2>🥇</h2>
        <div class="card-body">
          <h5 class="text-center">Inspire</h5>
        </div>
      </div>
    </div>

  </div>

  <div class="row justify-content-center">
    <div class="col-8 py-5">
      <h3 class="text-center">Why join us?</h3>
    </div>
  </div>

  <div class="row justify-content-center"> <!-- first row -->
    <div class="col-4 pl-0 ml-0 pt-5 mt-5">
      <p>More than filling empty stomachs, the charitable food
      system is vital for food access for vulnerable people in
      nearly every community in Brazil. Food banks are important
      in addressing community health disparities through the foods
      and related services that they provide. Please join us in
      the fight against hunger today!</p>
    </div>
    <div class="col-4 pr-0 mr-0">
      <%= image_tag "https://res.cloudinary.com/dnczymjwi/image/upload/v1638038769/ex-animo/about_us3_jssma1.jpg", width:500, height:400 %>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-8 py-5">
      <h3 class="text-center">Sign up as a Shelter today - it takes less than a minute to start receiving help</h3>
    </div>
  </div>

  <div class="d-flex justify-content-center pb-5">
    <div>
      <%= link_to 'Shelter sign up', new_user_registration_path(@user), class: 'btn-success btn-lg' %>
    </div>
  </div>

</div>

<!-- FOOTER begining-->

  <div class="d-flex flex-column h-100">

    <footer class="w-100 py-4 flex-shrink-0">
      <div class="footer-box py-4 pl-5">
        <div class="row gy-4 gx-5">

          <div class="col-3">
              <h5 class="text-black mb-3">Terms and Conditions</h5>
              <ul class="list-unstyled text-muted">
                  <li><a href="#">Providers T&C</a></li>
                  <li><a href="#">Providers T&C</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Data Policy</a></li>
              </ul>
          </div>

          <div class="col-2" id="social_icons">
            <h5 class="text-black mb-3" id="follow-us">Follow Us</h5>
            <a class="black-text text-lighten-3" style="padding-left:12px;" href="#!"><i class="fab fa-whatsapp fa-2x"></i></a>
            <a class="black-text text-lighten-3" style="padding-left:12px;" href="#!"><i class="fab fa-twitter fa-2x"></i></a>
            <a class="black-text text-lighten-3" style="padding-left:12px;" href="#!"><i class="fab fa-facebook-f fa-2x"></i></a>
            <a class="black-text text-lighten-3" style="padding-left:12px;" href="#!"><i class="fab fa-instagram fa-2x"></i></a>
          </div>

          <div class="col-4">
              <h5 class="text-black text-center">Ex-Animo Inc.</h5>
              <p class="small text-muted">Non-governmental organization devoted to helping those in need</p>
              <p class="small text-muted mb-0">&copy; Copyrights. All rights reserved. <a class="text-primary" href="#">©Ex-Animo</a></p>
          </div>

          <div class="col-3">
              <h5 class="text-black text-center mb-2">Newsletter</h5>
              <p class="small text-muted">Learn more about our charity initiatives, and receive constant updates from us.</p>
              <form action="#">
                  <div class="input-group mb-3">
                      <input class="form-control" type="text" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
                      <button class="btn btn-primary" id="button-addon2" type="button"><i class="fas fa-paper-plane"></i></button>
                  </div>
              </form>
          </div>

        </div>

      </div>
    </footer>
  </div>

<!-- FOOTER end-->
</div>

<!-- page container end -->
