<h2>Become a Shelter</h2>
<div class="card-deck pb-5">
  <div class="card pl-3">
    🍽
    <div class="card-body">
      <h5 class="card-title">Provide</h5>
    </div>
  </div>
  <div class="card pl-3">
    ♻
    <div class="card-body">
      <h5 class="card-title">Protect</h5>
    </div>
  </div>
  <div class="card pl-3">
    🥇
    <div class="card-body">
      <h5 class="card-title">Inspire</h5>
    </div>
  </div>
</div>

<h2>Purpose</h2>
<p>More than filling empty stomachs, the charitable food system is vital for food access for vulnerable people in nearly every community in Brazil.</p>
<p>Food banks are important in addressing community health disparities through the foods and related services that they provide.
Please join us in the fight against hunger today!</p>

<h2>Any help is welcome and appreciated!</h2>
<div class="sign-up my-5"> <!--- sign up link --->
    <div class=sign-up-bar>
      <h3 class="info-text-bottom">Sign up as a Shelter today - it takes less than a minute to start making a difference</h3>
    </div>
  </div>
</div>

<!-- FOOTER begining-->

  <div class="d-flex flex-column h-100">

    <footer class="w-100 py-4 flex-shrink-0">
      <div class="footer-box py-4 pl-5">
        <div class="row gy-4 gx-5">

          <div class="col-3">
              <h5 class="text-black mb-3">Terms and conditions</h5>
              <ul class="list-unstyled text-muted">
                  <li><a href="#">Providers T&C</a></li>
                  <li><a href="#">Providers T&C</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Data Policy</a></li>
              </ul>
          </div>

          <div class="col-2" id="social_icons">
            <h5 class="text-black mb-3" id="follow-us">Follow Us</h5>
            <a class="black-text text-lighten-3" style="padding-left:12px;" href="#!"><i class="fab fa-whatsapp fa-2x"></i></a>
            <a class="black-text text-lighten-3" style="padding-left:12px;" href="#!"><i class="fab fa-twitter fa-2x"></i></a>
            <a class="black-text text-lighten-3" style="padding-left:12px;" href="#!"><i class="fab fa-facebook-f fa-2x"></i></a>
            <a class="black-text text-lighten-3" style="padding-left:12px;" href="#!"><i class="fab fa-instagram fa-2x"></i></a>
          </div>

          <div class="col-4">
              <h5 class="h1 text-black text-center">Ex Animo Inc.</h5>
              <p class="small text-muted">Non-governmental organization devoted to helping those in need</p>
              <p class="small text-muted mb-0">&copy; Copyrights. All rights reserved. <a class="text-primary" href="#">©Ex-Animo</a></p>
          </div>

          <div class="col-3">
              <h5 class="text-black mb-3">Newsletter</h5>
              <p class="small text-muted">Learn more about our charity initiatives, and receive constant updates from us.</p>
              <form action="#">
                  <div class="input-group mb-3">
                      <input class="form-control" type="text" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
                      <button class="btn btn-primary" id="button-addon2" type="button"><i class="fas fa-paper-plane"></i></button>
                  </div>
              </form>
          </div>

        </div>

      </div>
    </footer>
  </div>

<!-- FOOTER begining-->








</div>

<!-- page container end -->
