.card-deck {
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: lightgreen;
  padding-top: 15px;
}
.card {
    padding: 20px 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    border: none !important;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2)
}
.blue-text {
    color: #00BCD4
}

.form-control-label {
    margin-bottom: 0
}

input,
textarea,
button {
    padding: 8px 15px;
    border-radius: 5px !important;
    margin: 5px 0px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 18px !important;
    font-weight: 300
}

.cards {
  .col-4 {
    display: flex;
    flex-grow: 1;
    .card {
      background-color: #EEEEEE;
      box-shadow: 0 5px 15px rgba(0,0,0,.2);
      flex-grow: 1;
      .card-body {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
      }
    }
  }
}
