#figure {
    width: 538px;
    border-top: 100px solid #CFEABA;
    border-top-width: 100px;
    border-top-style: solid;
    border-top-color: rgb(207, 234, 186);
    border-left: 100px solid transparent;
    border-left-width: 100px;
    border-left-style: solid;
    border-left-color: transparent;
    margin: 0 772px;
}
