
/* APPLYING MEDIA QUERIES */
 @media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    background-color:rgb(234, 213, 187);
    right: 0;
    left: 0;
    text-align: center;

  }
  .menu li:hover {
    display: inline-block;
    background-color:rgb(219, 194, 163);
    transition: 0.3s ease;
  }

}

 .navbar {
  display: flex;
  max-width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  background-color: rgb(234, 213, 187);
}
.nav-links a {
  list-style: none;
  color: #054e4e;
  font-weight: lighter;
}
.logo {
  font-size: 32px;
}
.menu {
  list-style: none;
  display: flex;
  gap: 1em;
  font-size: 20px;
}
.menu li:hover {
  background-color: rgb(219, 194, 163);
  border-radius: 2px;
  transition: 0.3s ease;
}
.menu li {
  padding: 5px 14px;
}
.nav-link-sign-in:hover {
  background-color: rgb(219, 194, 163);
  border-radius: 2px;
  transition: 0.3s ease;
}
p {
  text-align: center;
  color: black;
  font-size: 1.25em;
}

//  /* DROPDOWN MENU */
//  .dropdown {
//   background-color: rgb(165, 190, 190);
//   padding: 1em 0;
//   position: right; /*WITH RESPECT TO PARENT*/
//   display: none;
//   border-radius: 5px;
//  }
//  .dropdown li + li {
//   margin-top: 5px;
//  }
//  .dropdown li {
//   padding: 0.5em 1em;
//   width: 6em;
//   text-align: center;
//  }
//  .services:hover .dropdown {
//   display: block;
//   position: relative;
//  }
